@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background-color: #725049;
  color: #725049;
}
body header {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: #F6C5B6;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}
body header .upper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
body header .circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid #725049;
}
body header article {
  width: 100%;
}
body header article h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Dancing Script", cursive;
}
body header article .text {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
body main {
  width: 70%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
body main section {
  border: 1px solid #F6C5B6;
  background-color: #F6C5B6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.1s;
}
body main section:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
body main section .lotr-img-container {
  background-image: url("./images/le-seigneur-des-anneaux.jpg");
  height: 30vh;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .alice-img-container {
  background-image: url("./images/alice-au-pays-des-merveilles.jpg");
  height: 30vh;
  background-size: cover;
  background-position: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .mondes-img-container {
  background-image: url("./images/le-meilleur-des-mondes.jpg");
  height: 30vh;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .portrait-img-container {
  background-image: url("./images/le-portrait-de-dorian-gray.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .moqueur-img-container {
  background-image: url("./images/ne-tirez-pas-sur-l-oiseau-moqueur.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .fahrenheit-img-container {
  background-image: url("./images/fahrenheit-451.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .sherlock-img-container {
  background-image: url("./images/les-aventures-de-sherlock-holmes.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .frankenstein-img-container {
  background-image: url("./images/frankenstein.png");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .got-img-container {
  background-image: url("./images/le-trône-de-fer.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section .nuit-img-container {
  background-image: url("./images/la-nuit-des-temps.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main section nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
}
body main section nav h3 {
  background-color: #F7826C;
  color: rgb(241, 245, 249);
  width: -moz-max-content;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
}
body main section nav h4 {
  background-color: #F7B98D;
  width: -moz-max-content;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
}
body main section article {
  padding: 0.75rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
body main section article h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-top: 3.5%;
}
body main section article p {
  text-align: justify;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}
body main section article q {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.349);
  color: #F6C5B6;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
  width: 100%;
  height: 98%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: translate(-2.5%, -18%);
  padding: 50% 0;
  text-align: center;
}
body main section button {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  background-color: #D96C68;
  border: 2px solid #D96C68;
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  margin: 0 auto;
  transition: all ease-in-out 300ms;
}
body main section button:hover {
  background-color: #872E3C;
  color: rgb(241, 245, 249);
  transition: all ease-in-out 300ms;
}
body main section .hidden {
  display: none;
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #F6C5B6;
  font-size: 0.875rem;
  margin-top: 0.9375rem;
}

@media screen and (min-width: 1500px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  main section {
    display: flex !important;
  }
  main section article h2 {
    font-size: 1.4rem !important;
  }
  main section article q {
    transform: translate(-1.9%, -50%) !important;
  }
}/*# sourceMappingURL=style.css.map */