$backgroundColor: #725049;
$fontFamily: "Poppins", sans-serif;
$secondFontFamily: "Dancing Script", cursive;
$sectionBcg: #F6C5B6;
$yearColor: #F7B98D;
$authorColor: #F7826C;
$lightSlate: rgb(241 245 249);
$buttonColor: #D96C68;
$buttonHover: #872E3C;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
}

body {
    width: 100%;
    height: auto;
    background-color: $backgroundColor;
    color: $backgroundColor;

    header {
        width: 70%;
        margin: auto;
        border-radius: 10px;
        background-color: $sectionBcg;
        margin-bottom: 2.5%;
        margin-top: 2.5%;

        .upper{
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            padding-top: 10px;
        }
        .circle {
            height: 150px;
            width: 150px;
            border-radius: 100%;
            border: 2px solid $backgroundColor;
        }

        article {
            width: 100%;
            h1 {
                font-size: 2.5rem;
                font-weight: 500;
                text-align: center;
                padding-bottom: 20px;
                font-family: $secondFontFamily;
            }

            .text {
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                padding-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;

            }
        }
    }

    main {
        width: 70%;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        section {
            border: 1px solid $sectionBcg;
            background-color: $sectionBcg;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
            transition: transform .1s;
            
                &:hover{
                    -ms-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
                }

            .lotr-img-container {
                background-image: url('./images/le-seigneur-des-anneaux.jpg');
                height: 30vh;
                background-size: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .alice-img-container {
                background-image: url('./images/alice-au-pays-des-merveilles.jpg');
                height: 30vh;
                background-size: cover;
                background-position: 50%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .mondes-img-container {
                background-image: url('./images/le-meilleur-des-mondes.jpg');
                height: 30vh;
                background-size: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .portrait-img-container {
                background-image: url('./images/le-portrait-de-dorian-gray.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .moqueur-img-container {
                background-image: url('./images/ne-tirez-pas-sur-l-oiseau-moqueur.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .fahrenheit-img-container {
                background-image: url('./images/fahrenheit-451.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .sherlock-img-container {
                background-image: url('./images/les-aventures-de-sherlock-holmes.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .frankenstein-img-container {
                background-image: url('./images/frankenstein.png');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .got-img-container {
                background-image: url('./images/le-trône-de-fer.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .nuit-img-container {
                background-image: url('./images/la-nuit-des-temps.jpg');
                height: 30vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;
                margin-top: 2.5%;


                h3 {
                    background-color: $authorColor;
                    color: $lightSlate;
                    width: max-content;
                    padding: 0.25rem 0.5rem;
                    border-radius: 5px;
                    font-size: .875rem;
                    font-weight: 500;
                }
    
    
                h4 {
                    background-color: $yearColor;
                    width: max-content;
                    padding: 0.25rem 0.5rem;
                    border-radius: 5px;
                    font-size: .875rem;
                    font-weight: 600;
                }
            }

            article {
                padding: 0.75rem 0.5rem;
                position: relative;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 1.875rem;
                    font-weight: 600;
                    line-height: 120%;
                    text-align: center;
                    margin-top: 3.5%;
                }

                p {
                    text-align: justify;
                    padding: 1rem;
                    font-size: .875rem;
                    font-weight: 400;
                }

                q {
                    position: absolute;
                    z-index: 10;
                    background-color: rgba(0, 0, 0, 0.349);
                    color: $sectionBcg;
                    font-size: 1.5rem;
                    font-weight: 500;
                    font-family: $secondFontFamily;
                    width: 100%;
                    height: 98%;
                    backdrop-filter: blur(5px);
                    transform: translate(-2.5%,-18%);
                    padding: 50% 0;
                    text-align: center;
                }
            }

            button {
                font-family: $secondFontFamily;
                font-size: 18px;
                background-color: $buttonColor;
                border: 2px solid $buttonColor;
                padding: 0.5rem 0.75rem;
                border-radius: 50px;
                margin: 0 auto;
                transition: all ease-in-out 300ms;

                &:hover {
                    background-color: $buttonHover;
                    color: $lightSlate;
                    transition: all ease-in-out 300ms;

                }
            }

            .hidden {
                display: none;
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: $sectionBcg;
        font-size: .875rem;
        margin-top: .9375rem;
    }
}

@media screen and (min-width: 1500px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        section {
            display: flex !important;
            
            article {
                h2 {
                    font-size: 1.4rem !important;
                }

                q {
                    transform: translate(-1.9%,-50%) !important;
                }
            }
        }
    } 
}